Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.github
.git
.env
*compose.y*
.vscode
.husky
backup
coverage
dist
mariadb-data*
*.log
*qr.png
CHANGELOG.md
ecosystemConfig.config.js
envloader.ts
jest.config.js
nodemon.json
prisma.generate.ts
seed.sql
test_setup.sh